﻿<body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <!-- Account Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img src="~/img/login-banner.png"
                                         class="img-fluid"
                                         alt="Login Banner" />
                                </div>
                                <div class="col-md-12 col-lg-6 login-right">
                                    <div class="login-header">
                                        <h3>Forgot Password?</h3>
                                        <p class="small text-muted">
                                            Enter your email to get a password reset link
                                        </p>
                                    </div>

                                    <!-- Forgot Password Form -->
                                    <form asp-action="ForgotPassword" asp-controller="Authen" method="post">
                                        <div class="form-group form-focus">
                                            <input type="email" class="form-control floating" name="email"/>
                                            <label class="focus-label">Email</label>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-lg login-btn"
                                                type="submit">
                                            Reset Password
                                        </button>
                                    </form>
                                    <!-- /Forgot Password Form -->
                                </div>
                            </div>
                        </div>
                        <!-- /Account Content -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
        <!-- Footer -->
        <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/script.js"></script>
</body>

