﻿@model HealingYourSelf_MVC.Dto.RegisterDto;
<body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <!-- Register Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img src="~/img/login-banner.png"
                                         class="img-fluid"
                                         alt="Doccure Register" />
                                </div>
                                <div class="col-md-12 col-lg-6 login-right">
                                    <div class="login-header">
                                        <h3>
                                            Patient Register
                                            <a href="doctor-register.html">Are you a Doctor?</a>
                                        </h3>
                                    </div>

                                    <!-- Register Form -->
                                    <form asp-action="Register" asp-controller="Authen" method="post">
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" asp-for="Username"/>
                                            <label class="focus-label">User Name</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" asp-for="FullName" />
                                            <label class="focus-label">Full Name</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" asp-for="NickName" />
                                            <label class="focus-label">Nick Name</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" asp-for="Email" />
                                            <label class="focus-label">Email</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" asp-for="PhoneNumber" />
                                            <label class="focus-label">Phone Number</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="text" class="form-control floating" asp-for="Address" />
                                            <label class="focus-label">Address</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <select id="gender" name="gender" class="form-control " asp-for="Gender">
                                                <option value="male">Male</option>
                                                <option value="female">Femail</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-focus">
                                            <label class="focus-label">Birthdate (YYYY-MM-DD)</label>
                                            <input type="text"
                                                   id="birthdate"
                                                   name="birthdate"
                                                   class="form-control floating"
                                                   placeholder="YYYY-MM-DD"
                                                   maxlength="10" asp-for="Dob" />
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="password" class="form-control floating" asp-for="Password" />
                                            <label class="focus-label">Create Password</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="password" class="form-control floating" asp-for="Repassword" />
                                            <label class="focus-label">Confirm Password</label>
                                        </div>
                                        <div class="text-right">
                                            <a class="forgot-link" href="login.html">Already have an account?</a>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-lg login-btn"
                                                type="submit">
                                            Signup
                                        </button>
                                        <div class="login-or">
                                            <span class="or-line"></span>
                                            <span class="span-or">or</span>
                                        </div>
                                        <div class="row form-row social-login">
                                            <div class="col-12">
                                                <a href="#" class="btn btn-google btn-block"><i class="fab fa-google mr-1"></i> Login</a>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /Register Form -->
                                </div>
                            </div>
                        </div>
                        <!-- /Register Content -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
        <!-- Footer -->
        
        <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/script.js"></script>
</body>