﻿@model HealingYourSelf_MVC.Dto.ResetPasswordViewModel;
<body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <!-- Login Tab Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img src="~/img/login-banner.png"
                                         class="img-fluid"
                                         alt="Doccure Login" />
                                </div>
                                <div class="col-md-12 col-lg-6 login-right">
                                    <div class="login-header">
                                        <h3>Reset <span>Password</span></h3>
                                    </div>
                                    <form asp-action="ResetPassword" asp-asp-controller="Authen" method="post">
                                        <input type="hidden" asp-for="Email" value="@Model.Email" />
                                        <div class="form-group form-focus">
                                            <input type="password" class="form-control floating" asp-for="NewPassword"/>
                                            <label class="focus-label">New Password</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="password" class="form-control floating" asp-for="ConfirmNewPassword"/>
                                            <label class="focus-label">Confirm your new Password</label>
                                        </div>

                                        <button class="btn btn-primary btn-block btn-lg login-btn"
                                                type="submit">
                                            Reset Password
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /Login Tab Content -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
        <!-- Footer -->
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/script.js"></script>
</body>
