﻿
<body class="account-page">
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        
        <!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <!-- Account Content -->
                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-6 login-left">
                                    <img src="~/img/login-banner.png"
                                         class="img-fluid"
                                         alt="Login Banner" />
                                </div>
                                <div class="col-md-6 bg-white pt-5 pt-5 pb-lg-0 pb-5">
                                    <div class="sign-in-from">
                                        <img src="~/img/mail.png" width="80" alt="" />
                                        <h1 class="mt-3 mb-0">Success !</h1>
                                        <p>
                                            A email has been send to youremail@domain.com. Please
                                            check for an email from company and click on the
                                            included link to reset your password.
                                        </p>
                                        <div class="d-inline-block w-100">
                                            <a asp-action="Index" asp-controller="Home"  class="btn btn-primary mt-3">Back to Home</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Account Content -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
        <!-- Footer -->
        
        <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/js/script.js"></script>
</body>
