<!DOCTYPE html> 
<html lang="zxx">
	<head>

		<meta charset="utf-8">
		<title>Doccure</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
		<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
		<meta property="og:url" content="https://doccure.dreamstechnologies.com/html/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
		<meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta property="og:image" content="~/img/preview-banner.jpg">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="https://doccure.dreamstechnologies.com/html/">
		<meta property="twitter:url" content="https://doccure.dreamstechnologies.com/html/">
		<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
		<meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta name="twitter:image" content="~/img/preview-banner.jpg">	
		
		<!-- Favicons -->
		<link href="~/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="~/css/feather.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="~/css/custom.css">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header header-custom header-fixed header-one">
				<div class="container">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="~/img/logo.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="~/img/logo.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="javascript:void(0);">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu mega-submenu">
									<li>
										<div class="megamenu-wrapper">
											<div class="row">
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index.html" class="inner-demo-img"><img src="~/img/home/home-01.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index.html" class="inner-demo-img">General Home 1</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-2.html" class="inner-demo-img"><img src="~/img/home/home-02.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-2.html" class="inner-demo-img">General Home 2</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-3.html" class="inner-demo-img"><img src="~/img/home/home-03.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-3.html" class="inner-demo-img">General Home 3</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-5.html" class="inner-demo-img"><img src="~/img/home/home-04.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-5.html" class="inner-demo-img">Cardiology</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-6.html" class="inner-demo-img"><img src="~/img/home/home-05.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-6.html" class="inner-demo-img">Eyecare</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index-7.html" class="inner-demo-img"><img src="~/img/home/home-06.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-7.html" class="inner-demo-img">Veterinary</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-8.html" class="inner-demo-img"><img src="~/img/home/home-07.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-8.html" class="inner-demo-img">Pediatric</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-9.html" class="inner-demo-img"><img src="~/img/home/home-08.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-9.html" class="inner-demo-img">Fertility</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-10.html" class="inner-demo-img"><img src="~/img/home/home-09.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-10.html" class="inner-demo-img">ENT</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-11.html" class="inner-demo-img"><img src="~/img/home/home-10.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-11.html" class="inner-demo-img">Cosmetics</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-12.html" class="inner-demo-img"><img src="~/img/home/home-11.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-12.html" class="inner-demo-img">Lab Test</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="pharmacy-index.html" class="inner-demo-img"><img src="~/img/home/home-12.jpg" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-12.html" class="inner-demo-img">Pharmacy</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-13.html" class="inner-demo-img"><img src="~/img/home/home-13.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-13.html" class="inner-demo-img">Home Care</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-14.html" class="inner-demo-img"><img src="~/img/home/home-14.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-14.html" class="inner-demo-img">Dentists</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
										<li><a href="appointments.html">Appointments</a></li>
										<li><a href="available-timings.html">Available Timing</a></li>
										<li><a href="my-patients.html">Patients List</a></li>
										<li><a href="patient-profile.html">Patients Profile</a></li>
										<li><a href="chat-doctor.html">Chat</a></li>
										<li><a href="invoices.html">Invoices</a></li>
										<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
										<li><a href="reviews.html">Reviews</a></li>
										<li><a href="doctor-register.html">Doctor Register</a></li>
										<li class="has-submenu">
											<a href="doctor-blog.html">Blog</a>
											<ul class="submenu">
												<li><a href="doctor-blog.html">Blog</a></li>
												<li><a href="blog-details.html">Blog view</a></li>
												<li><a href="doctor-add-blog.html">Add Blog</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Doctors</a>
											<ul class="submenu inner-submenu">
												<li><a href="map-grid.html">Map Grid</a></li>
												<li><a href="map-list.html">Map List</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Search Doctor</a>
											<ul class="submenu inner-submenu">
												<li><a href="search.html">Search Doctor 1</a></li>
												<li><a href="search-2.html">Search Doctor 2</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Doctor Profile</a>
											<ul class="submenu inner-submenu">
												<li><a href="doctor-profile.html">Doctor Profile 1</a></li>
												<li><a href="doctor-profile-2.html">Doctor Profile 2</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Booking</a>
											<ul class="submenu inner-submenu">
												<li><a href="booking.html">Booking 1</a></li>
												<li><a href="booking-2.html">Booking 2</a></li>
											</ul>
										</li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="booking-success.html">Booking Success</a></li>
										<li><a href="favourites.html">Favourites</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="profile-settings.html">Profile Settings</a></li>
										<li><a href="change-password.html">Change Password</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pharmacy <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="pharmacy-index.html">Pharmacy</a></li>
										<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
										<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
										<li><a href="product-all.html">Product</a></li>
										<li><a href="product-description.html">Product Description</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="product-checkout.html">Product Checkout</a></li>
										<li><a href="payment-success.html">Payment Success</a></li>
										<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="contact-us.html">Contact Us</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Call</a>
											<ul class="submenu inner-submenu">
												<li><a href="voice-call.html">Voice Call</a></li>
												<li><a href="video-call.html">Video Call</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Invoices</a>
											<ul class="submenu inner-submenu">
												<li><a href="invoices.html">Invoices</a></li>
												<li><a href="invoice-view.html">Invoice View</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Authentication</a>
											<ul class="submenu inner-submenu">
												<li><a href="login-email.html">Login Email</a></li>
												<li><a href="login-phone.html">Login Phone</a></li>
												<li><a href="doctor-signup.html">Doctor Signup</a></li>
												<li><a href="patient-signup.html">Patient Signup</a></li>
												<li><a href="forgot-password.html">Forgot Password 1</a></li>
												<li><a href="forgot-password2.html">Forgot Password 2</a></li>
												<li><a href="login-email-otp.html">Email OTP</a></li>
												<li><a href="login-phone-otp.html">Phone OTP</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Error Pages</a>
											<ul class="submenu inner-submenu">
												<li><a href="error-404.html">404 Error</a></li>
												<li><a href="error-500.html">500 Error</a></li>
											</ul>
										</li>
										<li><a href="blank-page.html">Starter Page</a></li>
										<li><a href="pricing.html">Pricing Plan</a></li>
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="maintenance.html">Maintenance</a></li>
										<li><a href="coming-soon.html">Coming Soon</a></li>
										<li><a href="terms-condition.html">Terms & Condition</a></li>
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="components.html">Components</a></li>
									</ul>
								</li>
								<li class="has-submenu active">
									<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="blog-list.html">Blog List</a></li>
										<li><a href="blog-grid.html">Blog Grid</a></li>
										<li class="active"><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="admin/index.html" target="_blank">Admin</a></li>
										<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
									</ul>
								</li>
								<li class="searchbar">
									<a href="javascript:void(0);"><i class="feather-search"></i></a>
									<div class="togglesearch">
										<form action="search.html">
											<div class="input-group">
												<input type="text" class="form-control">
												<button type="submit" class="btn">Search</button>
											</div>
										</form>
									</div>
								</li>
								<li class="login-link"><a href="login.html">Login / Signup</a></li>
								<li class="register-btn">
									<a href="register.html" class="btn reg-btn"><i class="feather-user"></i>Register</a>
								</li>
								<li class="register-btn">
									<a href="login.html" class="btn btn-primary log-btn"><i class="feather-lock"></i>Login</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>
			<!-- /Header -->

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar-two">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<h2 class="breadcrumb-title">Blog Details</h2>
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item" aria-current="page">Blog Details</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container">
				
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="blog-view">
								<div class="blog blog-single-post">
									<div class="blog-image">
										<a href="javascript:void(0);"><img alt="blog-image" src="~/img/blog/blog-01.jpg" class="img-fluid"></a>
									</div>
									<h3 class="blog-title">Doccure – Making your clinic painless visit?</h3>
									<div class="blog-info clearfix">
										<div class="post-left">
											<ul>
												<li>
													<div class="post-author">
														<a href="doctor-profile.html"><img src="~/img/doctors/doctor-thumb-02.jpg" alt="Post Author"> <span>Dr. Darren Elder</span></a>
													</div>
												</li>
												<li><i class="far fa-calendar"></i>4 Dec 2023</li>
												<li><i class="far fa-comments"></i>12 Comments</li>
												<li><i class="fa fa-tags"></i>Health Tips</li>
											</ul>
										</div>
									</div>
									<div class="blog-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
										<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
									</div>
								</div>
								
								<div class="card blog-share clearfix">
									<div class="card-header">
										<h4 class="card-title">Share the post</h4>
									</div>
									<div class="card-body">
										<ul class="social-share">
											<li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
											<li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
											<li><a href="#" title="Google Plus"><i class="fab fa-google-plus"></i></a></li>
											<li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="card author-widget clearfix">
								<div class="card-header">
									<h4 class="card-title">About Author</h4>
									</div>
								<div class="card-body">
									<div class="about-author">
										<div class="about-author-img">
											<div class="author-img-wrap">
												<a href="doctor-profile.html"><img class="img-fluid rounded-circle" alt="Darren Elder" src="~/img/doctors/doctor-thumb-02.jpg"></a>
											</div>
										</div>
										<div class="author-details">
											<a href="doctor-profile.html" class="blog-author-name">Dr. Darren Elder</a>
											<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
										</div>
									</div>
								</div>
								</div>
								<div class="card blog-comments clearfix">
									<div class="card-header">
										<h4 class="card-title">Comments (12)</h4>
									</div>
									<div class="card-body pb-0">
									<ul class="comments-list">
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="Michelle Fairfax" src="~/img/patients/patient4.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Michelle Fairfax</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
													<p class="blog-date">Dec 6, 2023</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
												</div>
											</div>
											<ul class="comments-list reply">
												<li>
													<div class="comment">
														<div class="comment-author">
															<img class="avatar" alt="Gina Moore" src="~/img/patients/patient5.jpg">
														</div>
														<div class="comment-block">
															<span class="comment-by">
																<span class="blog-author-name">Gina Moore</span>
															</span>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
															<p class="blog-date">Dec 6, 2023</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
														</div>
													</div>
												</li>
												<li>
													<div class="comment">
														<div class="comment-author">
															<img class="avatar" alt="Carl Kelly" src="~/img/patients/patient3.jpg">
														</div>
														<div class="comment-block">
															<span class="comment-by">
																<span class="blog-author-name">Carl Kelly</span>
															</span>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
															<p class="blog-date">December 7, 2023</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
														</div>
													</div>
												</li>
											</ul>
										</li>
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="Elsie Gilley" src="~/img/patients/patient6.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Elsie Gilley</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
													<p class="blog-date">December 11, 2023</p>
												</div>
											</div>
										</li>
										<li>
											<div class="comment">
												<div class="comment-author">
													<img class="avatar" alt="Joan Gardner" src="~/img/patients/patient7.jpg">
												</div>
												<div class="comment-block">
													<span class="comment-by">
														<span class="blog-author-name">Joan Gardner</span>
													</span>
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
													<p class="blog-date">December 13, 2023</p>
													<a class="comment-btn" href="#">
														<i class="fas fa-reply"></i> Reply
													</a>
												</div>
											</div>
										</li>
									</ul>
								</div>
								</div>
								
								<div class="card new-comment clearfix">
									<div class="card-header">
										<h4 class="card-title">Leave Comment</h4>
									</div>
									<div class="card-body">
										<form>
											<div class="mb-3">
												<label class="mb-2">Name <span class="text-danger">*</span></label>
												<input type="text" class="form-control">
											</div>
											<div class="mb-3">
												<label class="mb-2">Your Email Address <span class="text-danger">*</span></label>
												<input type="email" class="form-control">
											</div>
											<div class="mb-3">
												<label class="mb-2">Comments</label>
												<textarea rows="4" class="form-control"></textarea>
											</div>
											<div class="submit-section">
												<button class="btn btn-primary submit-btn" type="submit">Submit</button>
											</div>
										</form>
									</div>
								</div>
								
							</div>
						</div>
					
						<!-- Blog Sidebar -->
						<div class="col-lg-4 col-md-12 sidebar-right theiaStickySidebar">

							<!-- Search -->
							<div class="card search-widget">
								<div class="card-body">
									<form class="search-form">
										<div class="input-group">
											<input type="text" placeholder="Search..." class="form-control">
											<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
										</div>
									</form>
								</div>
							</div>
							<!-- /Search -->

							<!-- Latest Posts -->
							<div class="card post-widget">
								<div class="card-header">
									<h4 class="card-title">Latest Posts</h4>
								</div>
								<div class="card-body">
									<ul class="latest-posts">
										<li>
											<div class="post-thumb">
												<a href="blog-details.html">
													<img class="img-fluid" src="~/img/blog/blog-thumb-01.jpg" alt="blog-image">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="blog-details.html">Doccure – Making your clinic painless visit?</a>
												</h4>
												<p>4 Dec 2023</p>
											</div>
										</li>
										<li>
											<div class="post-thumb">
												<a href="blog-details.html">
													<img class="img-fluid" src="~/img/blog/blog-thumb-02.jpg" alt="blog-image">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="blog-details.html">What are the benefits of Online Doctor Booking?</a>
												</h4>
												<p>3 Dec 2023</p>
											</div>
										</li>
										<li>
											<div class="post-thumb">
												<a href="blog-details.html">
													<img class="img-fluid" src="~/img/blog/blog-thumb-03.jpg" alt="blog-image">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="blog-details.html">Benefits of consulting with an Online Doctor</a>
												</h4>
												<p>3 Dec 2023</p>
											</div>
										</li>
										<li>
											<div class="post-thumb">
												<a href="blog-details.html">
													<img class="img-fluid" src="~/img/blog/blog-thumb-04.jpg" alt="blog-image">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="blog-details.html">5 Great reasons to use an Online Doctor</a>
												</h4>
												<p>2 Dec 2023</p>
											</div>
										</li>
										<li>
											<div class="post-thumb">
												<a href="blog-details.html">
													<img class="img-fluid" src="~/img/blog/blog-thumb-05.jpg" alt="blog-image">
												</a>
											</div>
											<div class="post-info">
												<h4>
													<a href="blog-details.html">Online Doctor Appointment Scheduling</a>
												</h4>
												<p>1 Dec 2023</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Latest Posts -->

							<!-- Categories -->
							<div class="card category-widget">
								<div class="card-header">
									<h4 class="card-title">Blog Categories</h4>
								</div>
								<div class="card-body">
									<ul class="categories">
										<li><a href="#">Cardiology <span>(62)</span></a></li>
										<li><a href="#">Health Care <span>(27)</span></a></li>
										<li><a href="#">Nutritions <span>(41)</span></a></li>
										<li><a href="#">Health Tips <span>(16)</span></a></li>
										<li><a href="#">Medical Research <span>(55)</span></a></li>
										<li><a href="#">Health Treatment <span>(07)</span></a></li>
									</ul>
								</div>
							</div>
							<!-- /Categories -->

							<!-- Tags -->
							<div class="card tags-widget">
								<div class="card-header">
									<h4 class="card-title">Tags</h4>
								</div>
								<div class="card-body">
									<ul class="tags">
										<li><a href="#" class="tag">Children</a></li>
										<li><a href="#" class="tag">Disease</a></li>
										<li><a href="#" class="tag">Appointment</a></li>
										<li><a href="#" class="tag">Booking</a></li>
										<li><a href="#" class="tag">Kids</a></li>
										<li><a href="#" class="tag">Health</a></li>
										<li><a href="#" class="tag">Family</a></li>
										<li><a href="#" class="tag">Tips</a></li>
										<li><a href="#" class="tag">Shedule</a></li>
										<li><a href="#" class="tag">Treatment</a></li>
										<li><a href="#" class="tag">Dr</a></li>
										<li><a href="#" class="tag">Clinic</a></li>
										<li><a href="#" class="tag">Online</a></li>
										<li><a href="#" class="tag">Health Care</a></li>
										<li><a href="#" class="tag">Consulting</a></li>
										<li><a href="#" class="tag">Doctors</a></li>
										<li><a href="#" class="tag">Neurology</a></li>
										<li><a href="#" class="tag">Dentists</a></li>
										<li><a href="#" class="tag">Specialist</a></li>
										<li><a href="#" class="tag">Doccure</a></li>
									</ul>
								</div>
							</div>
							<!-- /Tags -->
							
						</div>
						<!-- /Blog Sidebar -->
						
                </div>
				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer footer-one">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<a href="index.html"><img src="~/img/logo.png" alt="logo"></a>
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">For Patients</h2>
											<ul>
												<li><a href="search.html">Search for Doctors</a></li>
												<li><a href="login.html">Login</a></li>
												<li><a href="register.html">Register</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">For Doctors</h2>
											<ul>
												<li><a href="appointments.html">Appointments</a></li>
												<li><a href="chat.html">Chat</a></li>
												<li><a href="login.html">Login</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6 col-md-4">
										<div class="footer-widget footer-contact">
											<h2 class="footer-title">Contact Us</h2>
											<div class="footer-contact-info">
												<div class="footer-address">
													<p><i class="feather-map-pin"></i> 3556 Beech Street, USA</p>
												</div>
												<div class="footer-address">
													<p><i class="feather-phone-call"></i> +1 315 369 5943</p>
												</div>
												<div class="footer-address mb-0">
													<p><i class="feather-mail"></i> doccure@example.com</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-7">
								<div class="footer-widget">
									<h2 class="footer-title">Join Our Newsletter</h2>
									<div class="subscribe-form">
										<form action="#">
		                                    <input type="email" class="form-control" placeholder="Enter Email">
		                                    <button type="submit" class="btn">Submit</button>
	                                    </form>
	                                </div>
									<div class="social-icon">
									<ul>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-facebook"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
										</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"> Copyright © 2024 <a href="https://themeforest.net/user/dreamstechnologies/portfolio" target="_blank">Dreamstechnologies.</a> All Rights Reserved</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="privacy-policy.html">Privacy Policy</a></li>
											<li><a href="terms-condition.html">Terms and Conditions</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->					
					</div>
				</div>
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="~/js/jquery-3.7.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="~/js/bootstrap.bundle.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="~/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="~/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Custom JS -->
		<script src="~/js/script.js"></script>
		
	</body>
</html>