<!DOCTYPE html>
<html lang="en">
    
<!-- Mirrored from doccure-html.dreamguystech.com/template/admin/error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Apr 2021 12:48:08 GMT -->
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>Doccure - Error 404</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="~/admin/assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="~/admin/assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="~/admin/assets/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="~/admin/assets/css/feathericon.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="~/admin/assets/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="~/admin/assets/js/html5shiv.min.js"></script>
			<script src="~/admin/assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body class="error-page">
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			
			<div class="error-box">
				<h1>404</h1>
				<h3 class="h2 mb-3"><i class="fa fa-warning"></i> Oops! Page not found!</h3>
				<p class="h4 font-weight-normal">The page you requested was not found.</p>
				<a href="index.html" class="btn btn-primary">Back to Home</a>
			</div>
		
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="~/admin/assets/js/jquery-3.2.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="~/admin/assets/js/popper.min.js"></script>
        <script src="~/admin/assets/js/bootstrap.min.js"></script>
		
		<!-- Custom JS -->
		<script  src="~/admin/assets/js/script.js"></script>
		
    </body>

<!-- Mirrored from doccure-html.dreamguystech.com/template/admin/error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 Apr 2021 12:48:08 GMT -->
</html>