﻿@model List<HealingYourSelf_MVC.Dto.OperatorInfor>

<br/>
<h1>All Operator</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Username
            </th>
            <th>
                Password
            </th>
            <th>
                Fullname
            </th>
            <th>
                Nickname
            </th>
            <th>
                Address
            </th>
            <th>
                Gender
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Date Of Birth
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OperatorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    <a asp-action="ViewDetailOperator" asp-controller="Admin" asp-route-id="@item.OperatorId" >Details</a>
                    <a asp-action="DeleteOperator" asp-controller="Admin" asp-route-id="@item.OperatorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>