<!DOCTYPE html> 
<html lang="en">
	<head>
		
		<meta charset="utf-8">
		<title>Doccure</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
		<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
		<meta property="og:url" content="https://doccure.dreamstechnologies.com/html/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
		<meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta property="og:image" content="~/img/preview-banner.jpg">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="https://doccure.dreamstechnologies.com/html/">
		<meta property="twitter:url" content="https://doccure.dreamstechnologies.com/html/">
		<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
		<meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta name="twitter:image" content="~/img/preview-banner.jpg">	
		
		<!-- Favicons -->
		<link href="~/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="~/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="~/css/feather.css">

		<!-- select CSS -->
		<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="~/css/custom.css">
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header header-custom header-fixed header-one">
				<div class="container">
					<nav class="navbar navbar-expand-lg header-nav">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="index.html" class="navbar-brand logo">
								<img src="~/img/logo.png" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper">
							<div class="menu-header">
								<a href="index.html" class="menu-logo">
									<img src="~/img/logo.png" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="javascript:void(0);">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu mega-submenu">
									<li>
										<div class="megamenu-wrapper">
											<div class="row">
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index.html" class="inner-demo-img"><img src="~/img/home/home-01.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index.html" class="inner-demo-img">General Home 1</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-2.html" class="inner-demo-img"><img src="~/img/home/home-02.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-2.html" class="inner-demo-img">General Home 2</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-3.html" class="inner-demo-img"><img src="~/img/home/home-03.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-3.html" class="inner-demo-img">General Home 3</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-5.html" class="inner-demo-img"><img src="~/img/home/home-04.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-5.html" class="inner-demo-img">Cardiology</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-6.html" class="inner-demo-img"><img src="~/img/home/home-05.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-6.html" class="inner-demo-img">Eyecare</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index-7.html" class="inner-demo-img"><img src="~/img/home/home-06.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-7.html" class="inner-demo-img">Veterinary</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-8.html" class="inner-demo-img"><img src="~/img/home/home-07.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-8.html" class="inner-demo-img">Pediatric</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-9.html" class="inner-demo-img"><img src="~/img/home/home-08.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-9.html" class="inner-demo-img">Fertility</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-10.html" class="inner-demo-img"><img src="~/img/home/home-09.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-10.html" class="inner-demo-img">ENT</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-11.html" class="inner-demo-img"><img src="~/img/home/home-10.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-11.html" class="inner-demo-img">Cosmetics</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-12.html" class="inner-demo-img"><img src="~/img/home/home-11.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-12.html" class="inner-demo-img">Lab Test</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="pharmacy-index.html" class="inner-demo-img"><img src="~/img/home/home-12.jpg" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-12.html" class="inner-demo-img">Pharmacy</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-13.html" class="inner-demo-img"><img src="~/img/home/home-13.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-13.html" class="inner-demo-img">Home Care</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-14.html" class="inner-demo-img"><img src="~/img/home/home-14.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-14.html" class="inner-demo-img">Dentists</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
								<li class="has-submenu active">
									<a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
										<li class="active"><a href="appointments.html">Appointments</a></li>
										<li><a href="available-timings.html">Available Timing</a></li>
										<li><a href="my-patients.html">Patients List</a></li>
										<li><a href="patient-profile.html">Patients Profile</a></li>
										<li><a href="chat-doctor.html">Chat</a></li>
										<li><a href="invoices.html">Invoices</a></li>
										<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
										<li><a href="reviews.html">Reviews</a></li>
										<li><a href="doctor-register.html">Doctor Register</a></li>
										<li class="has-submenu">
											<a href="doctor-blog.html">Blog</a>
											<ul class="submenu">
												<li><a href="doctor-blog.html">Blog</a></li>
												<li><a href="blog-details.html">Blog view</a></li>
												<li><a href="doctor-add-blog.html">Add Blog</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Doctors</a>
											<ul class="submenu inner-submenu">
												<li><a href="map-grid.html">Map Grid</a></li>
												<li><a href="map-list.html">Map List</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Search Doctor</a>
											<ul class="submenu inner-submenu">
												<li><a href="search.html">Search Doctor 1</a></li>
												<li><a href="search-2.html">Search Doctor 2</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Doctor Profile</a>
											<ul class="submenu inner-submenu">
												<li><a href="doctor-profile.html">Doctor Profile 1</a></li>
												<li><a href="doctor-profile-2.html">Doctor Profile 2</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Booking</a>
											<ul class="submenu inner-submenu">
												<li><a href="booking.html">Booking 1</a></li>
												<li><a href="booking-2.html">Booking 2</a></li>
											</ul>
										</li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="booking-success.html">Booking Success</a></li>
										<li><a href="favourites.html">Favourites</a></li>
										<li><a href="chat.html">Chat</a></li>
										<li><a href="profile-settings.html">Profile Settings</a></li>
										<li><a href="change-password.html">Change Password</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pharmacy <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="pharmacy-index.html">Pharmacy</a></li>
										<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
										<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
										<li><a href="product-all.html">Product</a></li>
										<li><a href="product-description.html">Product Description</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="product-checkout.html">Product Checkout</a></li>
										<li><a href="payment-success.html">Payment Success</a></li>
										<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="about-us.html">About Us</a></li>
										<li><a href="contact-us.html">Contact Us</a></li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Call</a>
											<ul class="submenu inner-submenu">
												<li><a href="voice-call.html">Voice Call</a></li>
												<li><a href="video-call.html">Video Call</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Invoices</a>
											<ul class="submenu inner-submenu">
												<li><a href="invoices.html">Invoices</a></li>
												<li><a href="invoice-view.html">Invoice View</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Authentication</a>
											<ul class="submenu inner-submenu">
												<li><a href="login-email.html">Login Email</a></li>
												<li><a href="login-phone.html">Login Phone</a></li>
												<li><a href="doctor-signup.html">Doctor Signup</a></li>
												<li><a href="patient-signup.html">Patient Signup</a></li>
												<li><a href="forgot-password.html">Forgot Password 1</a></li>
												<li><a href="forgot-password2.html">Forgot Password 2</a></li>
												<li><a href="login-email-otp.html">Email OTP</a></li>
												<li><a href="login-phone-otp.html">Phone OTP</a></li>
											</ul>
										</li>
										<li class="has-submenu">
											<a href="javascript:void(0);">Error Pages</a>
											<ul class="submenu inner-submenu">
												<li><a href="error-404.html">404 Error</a></li>
												<li><a href="error-500.html">500 Error</a></li>
											</ul>
										</li>
										<li><a href="blank-page.html">Starter Page</a></li>
										<li><a href="pricing.html">Pricing Plan</a></li>
										<li><a href="faq.html">FAQ</a></li>
										<li><a href="maintenance.html">Maintenance</a></li>
										<li><a href="coming-soon.html">Coming Soon</a></li>
										<li><a href="terms-condition.html">Terms & Condition</a></li>
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="components.html">Components</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="blog-list.html">Blog List</a></li>
										<li><a href="blog-grid.html">Blog Grid</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li class="has-submenu">
									<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu">
										<li><a href="admin/index.html" target="_blank">Admin</a></li>
										<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<ul class="nav header-navbar-rht">

							<!-- Cart -->
							<li class="nav-item dropdown noti-nav view-cart-header me-3">
								<a href="#" class="dropdown-toggle nav-link p-0 position-relative" data-bs-toggle="dropdown">
									<i class="fa-solid fa-cart-shopping"></i> <small class="unread-msg1">7</small>
								</a>
								<div class="dropdown-menu notifications dropdown-menu-end">
									<div class="shopping-cart">
									<ul class="shopping-cart-items list-unstyled">
										<li class="clearfix">
											<div class="close-icon"><i class="fa-solid fa-circle-xmark"></i></div>
										    <a href="product-description.html"><img class="avatar-img rounded" src="~/img/products/product.jpg" alt="User Image"></a>
										    <a href="product-description.html" class="item-name">Benzaxapine Croplex</a>
										    <span class="item-price">$849.99</span>
										    <span class="item-quantity">Quantity: 01</span>
										</li>

										<li class="clearfix">
											<div class="close-icon"><i class="fa-solid fa-circle-xmark"></i></div>
										    <a href="product-description.html"><img class="avatar-img rounded" src="~/img/products/product1.jpg" alt="User Image"></a>
										    <a href="product-description.html" class="item-name">Ombinazol Bonibamol</a>
										    <span class="item-price">$1,249.99</span>
										    <span class="item-quantity">Quantity: 01</span>
										</li>

										<li class="clearfix">
											<div class="close-icon"><i class="fa-solid fa-circle-xmark"></i></div>
										    <a href="product-description.html"><img class="avatar-img rounded" src="~/img/products/product2.jpg" alt="User Image"></a>
										    <a href="product-description.html" class="item-name">Dantotate Dantodazole</a>
										    <span class="item-price">$129.99</span>
										    <span class="item-quantity">Quantity: 01</span>
										</li>
									</ul>
									<div class="booking-summary pt-3">
										<div class="booking-item-wrap">
											<ul class="booking-date">
												<li>Subtotal <span>$5,877.00</span></li>
												<li>Shipping <span>$25.00</span></li>
												<li>Tax <span>$0.00</span></li>
												<li>Total <span>$5.2555</span></li>
											</ul>
											<div class="booking-total">
												<ul class="booking-total-list text-align">
													<li>
														<div class="clinic-booking pt-3">
															<a class="apt-btn" href="cart.html">View Cart</a>
														</div>
													</li>
													<li>
														<div class="clinic-booking pt-3">
															<a class="apt-btn" href="product-checkout.html">Checkout</a>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									</div>
								</div>
							</li>
							<!-- /Cart -->

							<!-- Notifications -->
							<li class="nav-item dropdown noti-nav me-3 pe-0">
								<a href="#" class="dropdown-toggle nav-link p-0" data-bs-toggle="dropdown">
									<i class="fa-solid fa-bell"></i> <span class="badge">5</span>
								</a>
								<div class="dropdown-menu notifications dropdown-menu-end ">
									<div class="topnav-dropdown-header">
										<span class="notification-title">Notifications</span>
									</div>
									<div class="noti-content">
										<ul class="notification-list">
											<li class="notification-message">
												<a href="#">
													<div class="notify-block d-flex">
														<span class="avatar">
															<img class="avatar-img" alt="Ruby perin" src="~/img/clients/client-01.jpg">
														</span>
														<div class="media-body">
															<h6>Travis Tremble <span class="notification-time">18.30 PM</span></h6>
															<p class="noti-details">Sent a amount of $210 for his Appointment  <span class="noti-title">Dr.Ruby perin </span></p>
														</div>
													</div>
												</a>
											</li>
											<li class="notification-message">
												<a href="#">
													<div class="notify-block d-flex">
														<span class="avatar">
															<img class="avatar-img" alt="Hendry Watt" src="~/img/clients/client-02.jpg">
														</span>
														<div class="media-body">
															<h6>Travis Tremble <span class="notification-time">12 Min Ago</span></h6>
															<p class="noti-details"> has booked her appointment to  <span class="noti-title">Dr. Hendry Watt</span></p>
														</div>
													</div>
												</a>
											</li>
											<li class="notification-message">
												<a href="#">
													<div class="notify-block d-flex">
														<div class="avatar">
															<img class="avatar-img" alt="Maria Dyen" src="~/img/clients/client-03.jpg">
														</div>
														<div class="media-body">
															<h6>Travis Tremble <span class="notification-time">6 Min Ago</span></h6>
															<p class="noti-details"> Sent a amount  $210 for his Appointment   <span class="noti-title">Dr.Maria Dyen</span></p>
														</div>
													</div>
												</a>
											</li>
											<li class="notification-message">
												<a href="#">
													<div class="notify-block d-flex">
														<div class="avatar avatar-sm">
															<img class="avatar-img" alt="client-image" src="~/img/clients/client-04.jpg">
														</div>
														<div class="media-body">
															<h6>Travis Tremble <span class="notification-time">8.30 AM</span></h6>
															<p class="noti-details"> Send a message to his doctor</p>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<!-- /Notifications -->

							<!-- User Menu -->
							<li class="nav-item dropdown has-arrow logged-item">
								<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
									<span class="user-img">
										<img class="rounded-circle" src="~/img/doctors-dashboard/doctor-profile-img.jpg" width="31" alt="Darren Elder">
									</span>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="user-header">
										<div class="avatar avatar-sm">
											<img src="~/img/doctors-dashboard/doctor-profile-img.jpg" alt="User Image" class="avatar-img rounded-circle">
										</div>
										<div class="user-text">
											<h6>Dr Edalin Hendry</h6>
											<p class="text-success mb-0">Available</p>
										</div>
									</div>
									<a class="dropdown-item" href="doctor-dashboard.html">Dashboard</a>
									<a class="dropdown-item" href="doctor-profile-settings.html">Profile Settings</a>
									<a class="dropdown-item" href="login.html">Logout</a>
								</div>
							</li>
							<!-- /User Menu -->
							
						</ul>
					</nav>
				</div>
			</header>
			<!-- /Header -->

			<!-- Breadcrumb -->
			<div class="breadcrumb-bar-two">
				<div class="container">
					<div class="row align-items-center inner-banner">
						<div class="col-md-12 col-12 text-center">
							<h2 class="breadcrumb-title">Requests</h2>
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index.html">Home</a></li>
									<li class="breadcrumb-item" aria-current="page">Requests</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content doctor-content">
				<div class="container">

					<div class="row">
						<div class="col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar doctor-sidebar profile-sidebar-new">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="doctor-profile.html" class="booking-doc-img">
											<img src="~/img/doctors-dashboard/doctor-profile-img.jpg" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3><a href="doctor-profile.html">Dr Edalin Hendry</a></h3>
											<div class="patient-details">
												<h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
											</div>
											<span class="badge doctor-role-badge"><i class="fa-solid fa-circle"></i>Dentist</span>
										</div>
									</div>
								</div>
								<div class="doctor-available-head">
									<div class="input-block input-block-new">
										<label class="form-label">Availability <span class="text-danger">*</span></label>
										<select class="select form-control">
											<option>I am Available Now</option>
											<option>Not Available</option>
										</select>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="doctor-dashboard.html">
													<i class="fa-solid fa-shapes"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li class="active">
												<a href="doctor-request.html">
													<i class="fa-solid fa-calendar-check"></i>
													<span>Requests</span>
													<small class="unread-msg">2</small>
												</a>
											</li>
											<li>
												<a href="appointments.html">
													<i class="fa-solid fa-calendar-days"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="available-timings.html">
													<i class="fa-solid fa-calendar-day"></i>
													<span>Available Timings</span>
												</a>
											</li>
											<li>
												<a href="my-patients.html">
													<i class="fa-solid fa-user-injured"></i>
													<span>My Patients</span>
												</a>
											</li>
											<li>
												<a href="doctor-specialities.html">
													<i class="fa-solid fa-clock"></i>
													<span>Specialties & Services</span>
												</a>
											</li>
											<li>
												<a href="reviews.html">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
											<li>
												<a href="accounts.html">
													<i class="fa-solid fa-file-contract"></i>
													<span>Accounts</span>
												</a>
											</li>
											<li>
												<a href="invoices.html">
													<i class="fa-solid fa-file-lines"></i>
													<span>Invoices</span>
												</a>
											</li>
											<li>
												<a href="doctor-payment.html">
													<i class="fa-solid fa-money-bill-1"></i>
													<span>Payout Settings</span>
												</a>
											</li>																																				
											<li>
												<a href="chat-doctor.html">
													<i class="fa-solid fa-comments"></i>
													<span>Message</span>
													<small class="unread-msg">7</small>
												</a>
											</li>
											<li>
												<a href="doctor-profile-settings.html">
													<i class="fa-solid fa-user-pen"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											<li>
												<a href="social-media.html">
													<i class="fa-solid fa-shield-halved"></i>
													<span>Social Media</span>
												</a>
											</li>
											<li>
												<a href="doctor-change-password.html">
													<i class="fa-solid fa-key"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="login.html">
													<i class="fa-solid fa-calendar-check"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						
						<div class="col-lg-8 col-xl-9">

							<div class="dashboard-header">
								<h3>Requests</h3>
								<ul>
									<li>
										<div class="dropdown header-dropdown">
											<a class="dropdown-toggle nav-tog" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 7 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Today
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													This Month
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 7 Days
												</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
							
							<!-- Request List -->
							<div class="appointment-wrap">
								<ul>
									<li>
										<div class="patinet-information">
											<a href="patient-profile.html">
												<img src="~/img/doctors-dashboard/profile-01.jpg" alt="User Image">
											</a>
											<div class="patient-info">
												<p>#Apt0001</p>
												<h6><a href="patient-profile.html">Adrian</a><span class="badge new-tag">New</span></h6>
											</div>
										</div>
									</li>
									<li class="appointment-info">
										<p><i class="fa-solid fa-clock"></i>11 Nov 2024 10.45 AM</p>
										<p class="md-text">General Visit</p>
									</li>
									<li class="appointment-type">
										<p class="md-text">Type of Appointment</p>
										<p><i class="fa-solid fa-video text-blue"></i>Video Call</p>
									</li>
									<li>
										<ul class="request-action">
											<li>
												<a href="#" class="accept-link" data-bs-toggle="modal" data-bs-target="#accept_appointment"><i class="fa-solid fa-check"></i>Accept</a>
											</li>
											<li>
												<a href="#" class="reject-link" data-bs-toggle="modal" data-bs-target="#cancel_appointment"><i class="fa-solid fa-xmark"></i>Reject</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- /Request List -->

							<!-- Request List -->
							<div class="appointment-wrap">
								<ul>
									<li>
										<div class="patinet-information">
											<a href="patient-profile.html">
												<img src="~/img/doctors-dashboard/profile-02.jpg" alt="User Image">
											</a>
											<div class="patient-info">
												<p>#Apt0002</p>
												<h6><a href="patient-profile.html">Kelly</a></h6>
											</div>
										</div>
									</li>
									<li class="appointment-info">
										<p><i class="fa-solid fa-clock"></i>10 Nov 2024 02.00 PM</p>
										<p class="md-text">General Visit</p>
									</li>
									<li class="appointment-type">
										<p class="md-text">Type of Appointment</p>
										<p><i class="fa-solid fa-building text-green"></i>Direct Visit <i class="fa-solid fa-circle-info" data-bs-toggle="tooltip" title="Clinic Location Sofia’s Clinic"></i></p>
									</li>
									<li>
										<ul class="request-action">
											<li>
												<a href="#" class="accept-link" data-bs-toggle="modal" data-bs-target="#accept_appointment"><i class="fa-solid fa-check"></i>Accept</a>
											</li>
											<li>
												<a href="#" class="reject-link" data-bs-toggle="modal" data-bs-target="#cancel_appointment"><i class="fa-solid fa-xmark"></i>Reject</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- /Request List -->


							<!-- Request List -->
							<div class="appointment-wrap">
								<ul>
									<li>
										<div class="patinet-information">
											<a href="patient-profile.html">
												<img src="~/img/doctors-dashboard/profile-03.jpg" alt="User Image">
											</a>
											<div class="patient-info">
												<p>#Apt0003</p>
												<h6><a href="patient-profile.html">Samuel</a></h6>
											</div>
										</div>
									</li>
									<li class="appointment-info">
										<p><i class="fa-solid fa-clock"></i>08 Nov 2024 08.30 AM</p>
										<p class="md-text">Consultation for Cardio</p>
									</li>
									<li class="appointment-type">
										<p class="md-text">Type of Appointment</p>
										<p><i class="fa-solid fa-phone text-indigo"></i>Audio Call</p>
									</li>
									<li>
										<ul class="request-action">
											<li>
												<a href="#" class="accept-link" data-bs-toggle="modal" data-bs-target="#accept_appointment"><i class="fa-solid fa-check"></i>Accept</a>
											</li>
											<li>
												<a href="#" class="reject-link" data-bs-toggle="modal" data-bs-target="#cancel_appointment"><i class="fa-solid fa-xmark"></i>Reject</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- /Request List -->

							<!-- Request List -->
							<div class="appointment-wrap">
								<ul>
									<li>
										<div class="patinet-information">
											<a href="patient-profile.html">
												<img src="~/img/doctors-dashboard/profile-06.jpg" alt="User Image">
											</a>
											<div class="patient-info">
												<p>#Apt0004</p>
												<h6><a href="patient-profile.html">Anderea</a></h6>
											</div>
										</div>
									</li>
									<li class="appointment-info">
										<p><i class="fa-solid fa-clock"></i>05 Nov 2024 11.00 AM</p>
										<p class="md-text">Consultation for Dental</p>
									</li>
									<li class="appointment-type">
										<p class="md-text">Type of Appointment</p>
										<p><i class="fa-solid fa-phone text-indigo"></i>Audio Call</p>
									</li>
									<li>
										<ul class="request-action">
											<li>
												<a href="#" class="accept-link" data-bs-toggle="modal" data-bs-target="#accept_appointment"><i class="fa-solid fa-check"></i>Accept</a>
											</li>
											<li>
												<a href="#" class="reject-link" data-bs-toggle="modal" data-bs-target="#cancel_appointment"><i class="fa-solid fa-xmark"></i>Reject</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- /Request List -->

							<!-- Request List -->
							<div class="appointment-wrap">
								<ul>
									<li>
										<div class="patinet-information">
											<a href="patient-profile.html">
												<img src="~/img/doctors-dashboard/profile-05.jpg" alt="User Image">
											</a>
											<div class="patient-info">
												<p>#Apt0005</p>
												<h6><a href="patient-profile.html">Robert</a></h6>
											</div>
										</div>
									</li>
									<li class="appointment-info">
										<p><i class="fa-solid fa-clock"></i>07 Nov 2024 11.00 AM</p>
										<p class="md-text">General Visit</p>
									</li>
									<li class="appointment-type">
										<p class="md-text">Type of Appointment</p>
										<p><i class="fa-solid fa-phone text-indigo"></i>Audio Call</p>
									</li>
									<li>
										<ul class="request-action">
											<li>
												<a href="#" class="accept-link" data-bs-toggle="modal" data-bs-target="#accept_appointment"><i class="fa-solid fa-check"></i>Accept</a>
											</li>
											<li>
												<a href="#" class="reject-link" data-bs-toggle="modal" data-bs-target="#cancel_appointment"><i class="fa-solid fa-xmark"></i>Reject</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
							<!-- /Request List -->

							<div class="row">
								<div class="col-md-12">
									<div class="loader-item text-center">
										<a href="javascript:void(0);" class="btn btn-load">Load More</a>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer Section -->
			<footer class="footer pharmacy-footer">
				<div class="container">
					<div class="top-footer">
						<div class="footer-logo">
							<a href="index.html"><img src="~/img/logo.png" alt="logo"></a>
						</div>
						<div class="doccure-info">
							<p>Doccure is one of India’s most trusted pharmacies, dispensing quality medicines
								at reasonable prices to over 9 million happy customers 
							</p>
						</div>
					</div>
					<div class="mid-footer">
						<div class="row">
							<div class="col-xl-2 col-lg-3 col-md-4">
								<div class="footer-links">
									<h4>Company</h4>
									<ul class="pages-links">
										<li><a href="about-us.html">About Doccure</a></li>
										<li><a href="javascript:void(0);">Customers Speak</a></li>
										<li><a href="javascript:void(0);">In the News</a></li>
										<li><a href="javascript:void(0);">Career</a></li>
										<li><a href="contact-us.html">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4">
								<div class="footer-links">
									<h4>Shopping</h4>
									<ul class="pages-links">
										<li><a href="javascript:void(0);">Browse by A-Z</a></li>
										<li><a href="javascript:void(0);">Browse by Manufacturers</a></li>
										<li><a href="javascript:void(0);">Health Articles</a></li>
										<li><a href="javascript:void(0);">Offers / Coupons</a></li>
										<li><a href="faq.html">FAQs</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4">
								<div class="footer-links">
									<h4>Our Policies</h4>
									<ul class="pages-links">
										<li><a href="terms-condition.html">Terms and Conditions</a></li>
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="javascript:void(0);">Fees and Payments</a></li>
										<li><a href="javascript:void(0);">Shipping and Delivery</a></li>
										<li><a href="javascript:void(0);">Return, Refund </a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-2 col-lg-3 col-md-4">
								<div class="footer-links">
									<h4>Our Services</h4>
									<ul class="pages-links">
										<li><a href="javascript:void(0);">Order Medicines</a></li>
										<li><a href="javascript:void(0);">Book Lab Tests</a></li>
										<li><a href="javascript:void(0);">Consult a Doctor</a></li>
										<li><a href="javascript:void(0);">Ayurveda Articles</a></li>
										<li><a href="javascript:void(0);">Careers</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xl-4 col-lg-6 col-md-8">
								<div class="footer-links">
									<h4>Subscribe to Newsletter</h4>
									<form action="#">
										<div class="input-block">
											<input type="email" class="form-control" placeholder="Enter Email Address">
											<button type="submit" class="submit-btn">Submit</button>
										</div>
									</form>
									<div class="app-store-links">
										<a href="javascript:void(0);"><img src="~/img/icons/app-store.svg" alt="Img"></a>
										<a href="javascript:void(0);"><img src="~/img/icons/google-play.svg" alt="Img"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mid-foot-two">
						<div class="row align-items-center">
							<div class="col-md-6">
								<ul class="payment-methods d-flex align-items-center">
									<li>
										<a href="javascript:void(0);">
											<img src="~/img/icons/payment-icon-01.svg" alt="Img">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="~/img/icons/payment-icon-02.svg" alt="Img">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="~/img/icons/payment-icon-03.svg" alt="Img">
										</a>
									</li>
									<li>
										<a href="javascript:void(0);">
											<img src="~/img/icons/payment-icon-04.svg" alt="Img">
										</a>
									</li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul class="social-icons d-flex align-items-center">
									<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<div class="footer-bottom">
					<div class="copy-right text-center">
						<p>Copyright © 2024 Doccure. All Rights Reserved</p>
					</div>
				</div>
			</footer>
			<!-- /Footer Section -->	
		   
		</div>
		<!-- /Main Wrapper -->

		<!-- Appointment Accepted Modal -->
		<div class="modal fade info-modal" id="accept_appointment">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="success-wrap text-center">
							<span class="icon-success"><i class="fa-solid fa-calendar-check"></i></span>
							<h3>Appointment Accepted</h3>
							<p>Your Appointment has been scheduled on 23 Mar 2023</p>
							<a href="appointments.html" class="btn btn-primary prime-btn">Go to  Appointments</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Appointment Accepted Modal -->

		<!-- Appointment Cancel Modal -->
		<div class="modal fade info-modal" id="cancel_appointment">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="success-wrap">
							<div class="success-info">
								<div class="text-center">
									<span class="icon-success bg-red"><i class="fa-solid fa-xmark"></i></span>
									<h3>Are you Sure</h3>
									<p>Do you want to Cancel Appointment</p>
								</div>
								<div class="form-wrap">
									<label class="col-form-label">Cancel Reason <span class="text-danger">*</span></label>
									<textarea class="form-control" rows="4"></textarea>
								</div>
								<div class="form-wrap">
									<div class="custom-control form-check custom-control-inline">
										<input type="radio" id="reshedule" name="rating_option" class="form-check-input" value="price_free" checked="">
										<label class="form-check-label" for="reshedule">Cancel with Reschedule</label>
									</div>
								</div>
								<div class="form-wrap">
									<div class="custom-control form-check custom-control-inline">
										<input type="radio" id="refund" name="rating_option" class="form-check-input" value="price_free" checked="">
										<label class="form-check-label" for="refund">Cancel with Request Refund</label>
									</div>
								</div>
							</div>
							<div class="modal-button">
								<div class="row gx-3">
									<div class="col-sm-6">
										<a href="#" class="btn btn-gray w-100" data-bs-toggle="modal" data-bs-dismiss="modal">No, I change my mind</a>
									</div>
									<div class="col-sm-6">
										<a href="appointments.html" class="btn btn-primary prime-btn w-100">Go to  Appointments</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Appointment Cancel Modal -->
	  
		<!-- jQuery -->
		<script src="~/js/jquery-3.7.1.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="~/js/bootstrap.bundle.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="~/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="~/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

		<!-- select JS -->
		<script src="~/plugins/select2/js/select2.min.js"></script>
		
		<!-- Custom JS -->
		<script src="~/js/script.js"></script>
		
	</body>
</html>