<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<title>Doccure</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="keywords" content="practo clone, doccure, doctor appointment, Practo clone html template, doctor booking template">
	<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
	<meta property="og:url" content="https://doccure.dreamstechnologies.com/html/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta property="og:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta property="og:image" content="~/img/preview-banner.jpg">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="https://doccure.dreamstechnologies.com/html/">
	<meta property="twitter:url" content="https://doccure.dreamstechnologies.com/html/">
	<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Doccure">
	<meta name="twitter:description" content="The responsive professional Doccure template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
	<meta name="twitter:image" content="~/img/preview-banner.jpg">	

	<!-- Favicons -->
	<link href="~/img/favicon.png" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="~/css/feather.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">

	<!-- Fancybox CSS -->
	<link rel="stylesheet" href="~/plugins/fancybox/jquery.fancybox.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/css/custom.css">

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header header-custom header-fixed header-one">
			<div class="container">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="~/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="~/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu megamenu">
								<a href="javascript:void(0);">Home <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu mega-submenu">
									<li>
										<div class="megamenu-wrapper">
											<div class="row">
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index.html" class="inner-demo-img"><img src="~/img/home/home-01.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index.html" class="inner-demo-img">General Home 1</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-2.html" class="inner-demo-img"><img src="~/img/home/home-02.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-2.html" class="inner-demo-img">General Home 2</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-3.html" class="inner-demo-img"><img src="~/img/home/home-03.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-3.html" class="inner-demo-img">General Home 3</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-5.html" class="inner-demo-img"><img src="~/img/home/home-04.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-5.html" class="inner-demo-img">Cardiology</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-6.html" class="inner-demo-img"><img src="~/img/home/home-05.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-6.html" class="inner-demo-img">Eyecare</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo ">
														<div class="demo-img">
															<a href="index-7.html" class="inner-demo-img"><img src="~/img/home/home-06.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-7.html" class="inner-demo-img">Veterinary</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-8.html" class="inner-demo-img"><img src="~/img/home/home-07.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-8.html" class="inner-demo-img">Pediatric</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-9.html" class="inner-demo-img"><img src="~/img/home/home-08.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-9.html" class="inner-demo-img">Fertility</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-10.html" class="inner-demo-img"><img src="~/img/home/home-09.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-10.html" class="inner-demo-img">ENT</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-11.html" class="inner-demo-img"><img src="~/img/home/home-10.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-11.html" class="inner-demo-img">Cosmetics</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-12.html" class="inner-demo-img"><img src="~/img/home/home-11.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-12.html" class="inner-demo-img">Lab Test</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="pharmacy-index.html" class="inner-demo-img"><img src="~/img/home/home-12.jpg" class="img-fluid" alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-12.html" class="inner-demo-img">Pharmacy</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-13.html" class="inner-demo-img"><img src="~/img/home/home-13.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-13.html" class="inner-demo-img">Home Care</a>
														</div>
													</div>
												</div>
												<div class="col-lg-2">
													<div class="single-demo">
														<div class="demo-img">
															<a href="index-14.html" class="inner-demo-img"><img src="~/img/home/home-14.jpg" class="img-fluid " alt="img"></a>
														</div>
														<div class="demo-info">
															<a href="index-14.html" class="inner-demo-img">Dentists</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Doctors <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
									<li><a href="appointments.html">Appointments</a></li>
									<li><a href="available-timings.html">Available Timing</a></li>
									<li><a href="my-patients.html">Patients List</a></li>
									<li><a href="patient-profile.html">Patients Profile</a></li>
									<li><a href="chat-doctor.html">Chat</a></li>
									<li><a href="invoices.html">Invoices</a></li>
									<li><a href="doctor-profile-settings.html">Profile Settings</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="doctor-register.html">Doctor Register</a></li>
									<li class="has-submenu">
										<a href="doctor-blog.html">Blog</a>
										<ul class="submenu">
											<li><a href="doctor-blog.html">Blog</a></li>
											<li><a href="blog-details.html">Blog view</a></li>
											<li><a href="doctor-add-blog.html">Add Blog</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-submenu active">
								<a href="javascript:void(0);">Patients <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="patient-dashboard.html">Patient Dashboard</a></li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Doctors</a>
										<ul class="submenu inner-submenu">
											<li><a href="map-grid.html">Map Grid</a></li>
											<li><a href="map-list.html">Map List</a></li>
										</ul>
									</li>
									<li class="has-submenu active">
										<a href="javascript:void(0);">Search Doctor</a>
										<ul class="submenu inner-submenu">
											<li class="active"><a href="search.html">Search Doctor 1</a></li>
											<li><a href="search-2.html">Search Doctor 2</a></li>
										</ul>
									</li>
									<li class="has-submenu">
											<a href="javascript:void(0);">Doctor Profile</a>
											<ul class="submenu inner-submenu">
												<li><a href="doctor-profile.html">Doctor Profile 1</a></li>
												<li><a href="doctor-profile-2.html">Doctor Profile 2</a></li>
											</ul>
										</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Booking</a>
										<ul class="submenu inner-submenu">
											<li><a href="booking.html">Booking 1</a></li>
											<li><a href="booking-2.html">Booking 2</a></li>
										</ul>
									</li>
									<li><a href="checkout.html">Checkout</a></li>
									<li><a href="booking-success.html">Booking Success</a></li>
									<li><a href="favourites.html">Favourites</a></li>
									<li><a href="chat.html">Chat</a></li>
									<li><a href="profile-settings.html">Profile Settings</a></li>
									<li><a href="change-password.html">Change Password</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Pharmacy <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="pharmacy-index.html">Pharmacy</a></li>
									<li><a href="pharmacy-details.html">Pharmacy Details</a></li>
									<li><a href="pharmacy-search.html">Pharmacy Search</a></li>
									<li><a href="product-all.html">Product</a></li>
									<li><a href="product-description.html">Product Description</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="product-checkout.html">Product Checkout</a></li>
									<li><a href="payment-success.html">Payment Success</a></li>
									<li><a href="pharmacy-register.html">Pharmacy Register</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="javascript:void(0);">Pages <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">About Us</a></li>
									<li><a href="contact-us.html">Contact Us</a></li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Call</a>
										<ul class="submenu inner-submenu">
											<li><a href="voice-call.html">Voice Call</a></li>
											<li><a href="video-call.html">Video Call</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Invoices</a>
										<ul class="submenu inner-submenu">
											<li><a href="invoices.html">Invoices</a></li>
											<li><a href="invoice-view.html">Invoice View</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Authentication</a>
										<ul class="submenu inner-submenu">
											<li><a href="login-email.html">Login Email</a></li>
											<li><a href="login-phone.html">Login Phone</a></li>
											<li><a href="doctor-signup.html">Doctor Signup</a></li>
											<li><a href="patient-signup.html">Patient Signup</a></li>
											<li><a href="forgot-password.html">Forgot Password 1</a></li>
											<li><a href="forgot-password2.html">Forgot Password 2</a></li>
											<li><a href="login-email-otp.html">Email OTP</a></li>
											<li><a href="login-phone-otp.html">Phone OTP</a></li>
										</ul>
									</li>
									<li class="has-submenu">
										<a href="javascript:void(0);">Error Pages</a>
										<ul class="submenu inner-submenu">
											<li><a href="error-404.html">404 Error</a></li>
											<li><a href="error-500.html">500 Error</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Starter Page</a></li>
									<li><a href="pricing.html">Pricing Plan</a></li>
									<li><a href="faq.html">FAQ</a></li>
									<li><a href="maintenance.html">Maintenance</a></li>
									<li><a href="coming-soon.html">Coming Soon</a></li>
									<li><a href="terms-condition.html">Terms & Condition</a></li>
									<li><a href="privacy-policy.html">Privacy Policy</a></li>
									<li><a href="components.html">Components</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Blog <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">Blog List</a></li>
									<li><a href="blog-grid.html">Blog Grid</a></li>
									<li><a href="blog-details.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">Admin <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="admin/index.html" target="_blank">Admin</a></li>
									<li><a href="pharmacy/index.html" target="_blank">Pharmacy Admin</a></li>
								</ul>
							</li>
							<li class="searchbar">
								<a href="javascript:void(0);"><i class="feather-search"></i></a>
								<div class="togglesearch">
									<form action="search.html">
										<div class="input-group">
											<input type="text" class="form-control">
											<button type="submit" class="btn">Search</button>
										</div>
									</form>
								</div>
							</li>
							<li class="login-link"><a href="login.html">Login / Signup</a></li>
							<li class="register-btn">
								<a href="register.html" class="btn reg-btn"><i class="feather-user"></i>Register</a>
							</li>
							<li class="register-btn">
								<a href="login.html" class="btn btn-primary log-btn"><i
										class="feather-lock"></i>Login</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar-two">
			<div class="container">
				<div class="row align-items-center inner-banner">
					<div class="col-md-12 col-12 text-center">
						<h2 class="breadcrumb-title">Search</h2>
						<nav aria-label="breadcrumb" class="page-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item" aria-current="page">Search</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="content">
			<div class="container">

				<div class="row">
					<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

						<!-- Search Filter -->
						<div class="card search-filter">
							<div class="card-header">
								<h4 class="card-title mb-0">Search Filter</h4>
							</div>
							<div class="card-body">
								<div class="filter-widget">
									<div class="cal-icon">
										<input type="text" class="form-control datetimepicker"
											placeholder="Select Date">
									</div>
								</div>
								<div class="filter-widget">
									<h4>Gender</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type" checked>
											<span class="checkmark"></span> Male Doctor
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="gender_type">
											<span class="checkmark"></span> Female Doctor
										</label>
									</div>
								</div>
								<div class="filter-widget">
									<h4>Select Specialist</h4>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Urology
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist" checked>
											<span class="checkmark"></span> Neurology
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Dentist
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Orthopedic
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Cardiologist
										</label>
									</div>
									<div>
										<label class="custom_check">
											<input type="checkbox" name="select_specialist">
											<span class="checkmark"></span> Cardiologist
										</label>
									</div>
								</div>
								<div class="btn-search">
									<button type="button" class="btn w-100">Search</button>
								</div>
							</div>
						</div>
						<!-- /Search Filter -->

					</div>

					<div class="col-md-12 col-lg-8 col-xl-9">

						<!-- Doctor Widget -->
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<a href="doctor-profile.html">
												<img src="~/img/doctors/doctor-thumb-01.jpg" class="img-fluid"
													alt="User Image">
											</a>
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name"><a href="doctor-profile.html">Dr. Ruby Perrin</a></h4>
											<p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS
											</p>
											<h5 class="doc-department"><img
													src="~/img/specialities/specialities-05.png" class="img-fluid"
													alt="Speciality">Dentist</h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(17)</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Florida,
													USA</p>
												<ul class="clinic-gallery">
													<li>
														<a href="~/img/features/feature-01.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-01.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-02.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-02.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-03.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-03.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-04.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-04.jpg" alt="Feature">
														</a>
													</li>
												</ul>
											</div>
											<div class="clinic-services">
												<span>Dental Fillings</span>
												<span> Whitneing</span>
											</div>
										</div>
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="far fa-thumbs-up"></i> 98%</li>
												<li><i class="far fa-comment"></i> 17 Feedback</li>
												<li><i class="fas fa-map-marker-alt"></i> Florida, USA</li>
												<li><i class="far fa-money-bill-alt"></i> $300 - $1000 <i
														class="fas fa-info-circle" data-bs-toggle="tooltip"
														title="Lorem Ipsum"></i> </li>
											</ul>
										</div>
										<div class="clinic-booking">
											<a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
											<a class="apt-btn" href="booking.html">Book Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Doctor Widget -->

						<!-- Doctor Widget -->
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<a href="doctor-profile.html">
												<img src="~/img/doctors/doctor-thumb-02.jpg" class="img-fluid"
													alt="User Image">
											</a>
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name"><a href="doctor-profile.html">Dr. Darren Elder</a></h4>
											<p class="doc-speciality">BDS, MDS - Oral & Maxillofacial Surgery</p>
											<h5 class="doc-department"><img
													src="~/img/specialities/specialities-05.png" class="img-fluid"
													alt="Speciality">Dentist</h5>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(35)</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Newyork,
													USA</p>
												<ul class="clinic-gallery">
													<li>
														<a href="~/img/features/feature-01.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-01.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-02.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-02.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-03.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-03.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-04.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-04.jpg" alt="Feature">
														</a>
													</li>
												</ul>
											</div>
											<div class="clinic-services">
												<span>Dental Fillings</span>
												<span> Whitneing</span>
											</div>
										</div>
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="far fa-thumbs-up"></i> 100%</li>
												<li><i class="far fa-comment"></i> 35 Feedback</li>
												<li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
												<li><i class="far fa-money-bill-alt"></i> $50 - $300 <i
														class="fas fa-info-circle" data-bs-toggle="tooltip"
														title="Lorem Ipsum"></i></li>
											</ul>
										</div>
										<div class="clinic-booking">
											<a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
											<a class="apt-btn" href="booking.html">Book Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Doctor Widget -->

						<!-- Doctor Widget -->
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<a href="doctor-profile.html">
												<img src="~/img/doctors/doctor-thumb-03.jpg" class="img-fluid"
													alt="User Image">
											</a>
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name"><a href="doctor-profile.html">Dr. Deborah Angel</a>
											</h4>
											<p class="doc-speciality">MBBS, MD - General Medicine, DNB - Cardiology</p>
											<p class="doc-department"><img
													src="~/img/specialities/specialities-04.png" class="img-fluid"
													alt="Speciality">Cardiology</p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(27)</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Georgia,
													USA</p>
												<ul class="clinic-gallery">
													<li>
														<a href="~/img/features/feature-01.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-01.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-02.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-02.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-03.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-03.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-04.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-04.jpg" alt="Feature">
														</a>
													</li>
												</ul>
											</div>
											<div class="clinic-services">
												<span>Dental Fillings</span>
												<span> Whitneing</span>
											</div>
										</div>
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="far fa-thumbs-up"></i> 99%</li>
												<li><i class="far fa-comment"></i> 35 Feedback</li>
												<li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
												<li><i class="far fa-money-bill-alt"></i> $100 - $400 <i
														class="fas fa-info-circle" data-bs-toggle="tooltip"
														title="Lorem Ipsum"></i></li>
											</ul>
										</div>
										<div class="clinic-booking">
											<a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
											<a class="apt-btn" href="booking.html">Book Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Doctor Widget -->

						<!-- Doctor Widget -->
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<a href="doctor-profile.html">
												<img src="~/img/doctors/doctor-thumb-04.jpg" class="img-fluid"
													alt="User Image">
											</a>
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name"><a href="doctor-profile.html">Dr. Sofia Brient</a></h4>
											<p class="doc-speciality">MBBS, MS - General Surgery, MCh - Urology</p>
											<p class="doc-department"><img
													src="~/img/specialities/specialities-01.png" class="img-fluid"
													alt="Speciality">Urology</p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(4)</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Louisiana,
													USA</p>
												<ul class="clinic-gallery">
													<li>
														<a href="~/img/features/feature-01.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-01.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-02.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-02.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-03.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-03.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-04.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-04.jpg" alt="Feature">
														</a>
													</li>
												</ul>
											</div>
											<div class="clinic-services">
												<span>Dental Fillings</span>
												<span> Whitneing</span>
											</div>
										</div>
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="far fa-thumbs-up"></i> 97%</li>
												<li><i class="far fa-comment"></i> 4 Feedback</li>
												<li><i class="fas fa-map-marker-alt"></i> Newyork, USA</li>
												<li><i class="far fa-money-bill-alt"></i> $150 - $250 <i
														class="fas fa-info-circle" data-bs-toggle="tooltip"
														title="Lorem Ipsum"></i></li>
											</ul>
										</div>
										<div class="clinic-booking">
											<a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
											<a class="apt-btn" href="booking.html">Book Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Doctor Widget -->

						<!-- Doctor Widget -->
						<div class="card">
							<div class="card-body">
								<div class="doctor-widget">
									<div class="doc-info-left">
										<div class="doctor-img">
											<a href="doctor-profile.html">
												<img src="~/img/doctors/doctor-thumb-06.jpg" class="img-fluid"
													alt="User Image">
											</a>
										</div>
										<div class="doc-info-cont">
											<h4 class="doc-name"><a href="doctor-profile.html">Dr. Katharine
													Berthold</a></h4>
											<p class="doc-speciality">MS - Orthopaedics, MBBS, M.Ch - Orthopaedics</p>
											<p class="doc-department"><img
													src="~/img/specialities/specialities-03.png" class="img-fluid"
													alt="Speciality">Orthopaedics</p>
											<div class="rating">
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star filled"></i>
												<i class="fas fa-star"></i>
												<span class="d-inline-block average-rating">(52)</span>
											</div>
											<div class="clinic-details">
												<p class="doc-location"><i class="fas fa-map-marker-alt"></i> Texas, USA
												</p>
												<ul class="clinic-gallery">
													<li>
														<a href="~/img/features/feature-01.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-01.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-02.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-02.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-03.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-03.jpg" alt="Feature">
														</a>
													</li>
													<li>
														<a href="~/img/features/feature-04.jpg"
															data-fancybox="gallery">
															<img src="~/img/features/feature-04.jpg" alt="Feature">
														</a>
													</li>
												</ul>
											</div>
											<div class="clinic-services">
												<span>Dental Fillings</span>
												<span> Whitneing</span>
											</div>
										</div>
									</div>
									<div class="doc-info-right">
										<div class="clini-infos">
											<ul>
												<li><i class="far fa-thumbs-up"></i> 100%</li>
												<li><i class="far fa-comment"></i> 52 Feedback</li>
												<li><i class="fas fa-map-marker-alt"></i> Texas, USA</li>
												<li><i class="far fa-money-bill-alt"></i> $100 - $500 <i
														class="fas fa-info-circle" data-bs-toggle="tooltip"
														title="Lorem Ipsum"></i></li>
											</ul>
										</div>
										<div class="clinic-booking">
											<a class="view-pro-btn" href="doctor-profile.html">View Profile</a>
											<a class="apt-btn" href="booking.html">Book Appointment</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /Doctor Widget -->

						<div class="load-more text-center">
							<a class="btn btn-primary btn-sm prime-btn" href="javascript:void(0);">Load More</a>
						</div>
					</div>
				</div>

			</div>

		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		<footer class="footer footer-one">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-4">
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<a href="index.html"><img src="~/img/logo.png" alt="logo"></a>
								</div>
								<div class="footer-about-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-3 col-md-4">
									<div class="footer-widget footer-menu">
										<h2 class="footer-title">For Patients</h2>
										<ul>
											<li><a href="search.html">Search for Doctors</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="register.html">Register</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-4">
									<div class="footer-widget footer-menu">
										<h2 class="footer-title">For Doctors</h2>
										<ul>
											<li><a href="appointments.html">Appointments</a></li>
											<li><a href="chat.html">Chat</a></li>
											<li><a href="login.html">Login</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-4">
									<div class="footer-widget footer-contact">
										<h2 class="footer-title">Contact Us</h2>
										<div class="footer-contact-info">
											<div class="footer-address">
												<p><i class="feather-map-pin"></i> 3556 Beech Street, USA</p>
											</div>
											<div class="footer-address">
												<p><i class="feather-phone-call"></i> +1 315 369 5943</p>
											</div>
											<div class="footer-address mb-0">
												<p><i class="feather-mail"></i> doccure@example.com</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-7">
							<div class="footer-widget">
								<h2 class="footer-title">Join Our Newsletter</h2>
								<div class="subscribe-form">
									<form action="#">
										<input type="email" class="form-control" placeholder="Enter Email">
										<button type="submit" class="btn">Submit</button>
									</form>
								</div>
								<div class="social-icon">
									<div class="social-icon">
									<ul>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-facebook"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
										</li>
										<li>
											<a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
										</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0"> Copyright © 2024 <a href="https://themeforest.net/user/dreamstechnologies/portfolio" target="_blank">Dreamstechnologies.</a> All Rights Reserved</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
							
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a href="privacy-policy.html">Privacy Policy</a></li>
										<li><a href="terms-condition.html">Terms and Conditions</a></li>
									</ul>
								</div>
								<!-- /Copyright Menu -->
								
							</div>
						</div>
					</div>
					<!-- /Copyright -->					
				</div>
			</div>
		</footer>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="~/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/js/bootstrap.bundle.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="~/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="~/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Select2 JS -->
	<script src="~/plugins/select2/js/select2.min.js"></script>

	<!-- Datetimepicker JS -->
	<script src="~/js/moment.min.js"></script>
	<script src="~/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Fancybox JS -->
	<script src="~/plugins/fancybox/jquery.fancybox.min.js"></script>

	<!-- Custom JS -->
	<script src="~/js/script.js"></script>

</body>

</html>